<%# 
  Shared Category Filter Component
  
  Required parameters:
  - categories: Array of category symbols or strings
  - controller_name: Name of the Stimulus controller (e.g., "event-filter" or "post-filter")
  - all_text: Text for the "All" filter pill (e.g., "All life events" or "All posts")
  
  Optional parameters:
  - css_prefix: CSS class prefix for styling (defaults to the singular form of controller_name)
%>

<% css_prefix = local_assigns[:css_prefix] || controller_name.split('-').first.singularize %>

<div class="filter_pill-wrapper">
  <div class="filter_pill filter_pill-default active" 
       data-<%= controller_name %>-target="pill" 
       data-category="all" 
       data-action="click-><%= controller_name %>#toggle">
    <span class="skew-fix"><%= all_text %></span>
  </div>
  
  <%# Debug information - will be visible in the HTML source %>
  <!-- 
  Categories: <%= categories.inspect %>
  Categories Type: <%= categories.class %>
  -->
  
  <% categories.each do |category| %>
    <%# Debug info for each category %>
    <!-- Category: <%= category.inspect %> (Type: <%= category.class %>) -->
    <div class="filter_pill filter_pill-<%= category %>" 
         data-<%= controller_name %>-target="pill" 
         data-category="<%= category.to_s %>" 
         data-action="click-><%= controller_name %>#toggle">
      <span class="skew-fix"><%= category.to_s.titleize %></span>
    </div>
  <% end %>
</div>
