<p style="color: green"><%= notice %></p>

<%= render @event %>

<% if Rails.env.development? %>
  <div class="event-navigation">
    <%= link_to "Edit this event", edit_event_path(@event), class: "btn btn-outline-primary" %>
    <%= link_to "â† Back to all events", events_path, class: "btn btn-outline-primary" %>
    <%= button_to "Destroy this event", @event, class: "btn btn-outline-danger", method: :delete %>
  </div>
<% end %>
