<section class="post-heading" data-category-filter-target="item" data-category="<%= post.category %>">
  <div class="container">
    <div class="padding-vertical-xlarge">
      <div class="post-main_heading-wrapper">
        <div class="post_item-date"><%= post.created_at.strftime("%A,%-d %B %Y") %></div>
        <h1 class="post-title-<%= post.category %>"><%= post.title %></h1>
        <% if post.images.attached? || post.image_path.present? %>
          <div class="post-image">
            <%= image_tag post.main_image_url, alt: post.title, class: 'img-fluid' %>
          </div>
        <% end %>
        <div class="paragraph-large">
          <%= simple_format(post.content) %>
        </div>
      </div>
    </div>
  </div>
</section>
