<div class="timeline_item" data-category-filter-target="item" data-category="<%= post.category.to_s %>">
  <div class="timeline_item-left" style="background-image: url('<%= post.main_image_url %>'); background-size: cover; background-position: center; -webkit-box-shadow: inset 0px 0px 30px 50px #0A0A0A; box-shadow: inset 0px 0px 30px 50px #0A0A0A;">
    <div class="timeline_item-date">
      <%= post.created_at.strftime("%a, %-d %B %Y") %>
    </div>
  </div>
  <div class="timeline_item-center">
    <div class="timeline_circle"></div>
  </div>
  <div class="timeline_item-right">
    <div class="margin-bottom-xlarge">
      <div class="timeline_text">
        <% if post.status == "draft" %>
          <span class="pill-draft">Draft</span>
        <% end %>
        <h2 class="post-title-<%= post.category %>"><%= post.title %></h2>
        <p><%= post.tldr.present? ? post.tldr : post.content.to_plain_text.truncate(150) %></p>
        <%= link_to "Read full post", post_path(post), class: "timeline_link" %>
      </div>
    </div>
  </div>
</div>
